html,
body {
    width: 100%;
    height: 100%;

}

.content {
  
  width: 100%;
  height: 50em;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container-one{
  display: block;
  justify-content: center;
  align-items: center;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.8); /* Black w/opacity/see-through */
  height: 45em;
  border-radius: 2em;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  border: solid ;
  width: 80em;
}


 /* NavBar */
 .my-navbar{
  background-color:rgb(46, 46, 46);
  height: 20em;
  font-family: 'Playfair Display SC', serif;
 
  
}

.navbar-brand{
  color: white;
  padding-left: 2em;
  font-family: 'Playfair Display SC', serif;
  padding-top: 3em;

}





/* Web */
@media only screen and (min-width:900px){

  .navbar-brand{
      /* padding-left: 29em; */
      padding-bottom: 1.5em;
  }

  .icons{
      list-style-type: none;
  }
    
  li {
      float: left;
      
    }

  .my-navbar{
      height: 9em;
  }  

  .navbar-brand h1{
      font-size: 4rem;
  }

  .nav-link{
    font-size: 1.5em;
    color: white ;
  }
  .first-cont{
    float: left;
    padding-left: 6em;
    border-right: 4px solid black;
    width:40em;
  
  }

  .second-cont{
    float: right;
   padding-right: 2em;

  }

  .program{
text-align: center;
display: block;
padding-top: 6em;
color: red;
padding-left: 0.5em;
  }
  


}


/* End Web */


/* Carousel */
 .my-carousel .carousel-item {
 height: 40em;
}








  
  i {
    line-height: 10px;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    transition: all .1s;
    text-align: center;
  
  }

  .icons-two{
    font-size: 20px;
  }

  
 

  .final{
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 2rem;
    text-align: center;
    background-color: rgb(46, 46, 46);
    color: white;
    font-family: 'Playfair Display SC', serif;
     } 

 

     #contact{
      color: white;
    }



    .list-title{ 
      padding-top: 1em;
      padding-bottom: 5em;
      /* padding-left: 1em; */
      color: white;
      font-family: 'Playfair Display', serif;
      font-size: 2em;
      text-align: center;
    }
      .list-de{
        
        color: white;
        font-family: 'Playfair Display', serif;
        font-size: 1.5em;
        
     
      } 

      .tel{
        color: white;
        
      }

    










