@media only screen and (max-width:500px){

  .container-one{
    width: 27em;
    height: 75em;
    display: inline;
    text-align: center;
  
  }

 
      .content{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 80em;
        width: 30em;
      }
      


        /* Carouse */
      .my-carousel .carousel-item {
        height: 17em;
        width: 100%;
   
        }

        .carousel-inner {
          width: 30em !important;
        }

  
  

   /* NavBar */
  

   .my-navbar{
    height: 27em;
    width: 30em;
    }
    
    
    .nav-list {
    text-align: center;
   
    }
    .nav-link{
      color: white;
      font-size: 1.2em;
    }
    
  
    .my-navbar .nav-brand-one {

     font-size: 5rem;
     font-family: 'Playfair Display', serif;
    }
    .my-navbar .navbar-nav{ 
      padding-left: 6em;
    } 
 



    .nav-list-two {
      padding-left: 1rem;
     
      }



      .final{
        left: 0;
        bottom: 0;
        width: 37.5em;
      padding-top: 2rem;
      text-align: center;
      background-color: rgb(46, 46, 46);
      color: white;
      font-family: 'Playfair Display', serif;
       } 
      
       
      .list-de{
        font-size: 1.2em;
      }
      
      .navbar-brand h1{
        font-size: 3rem;
        padding-top: 0.5em;
      }
      
      
      
        }

.deratizare{ 
  text-align: center;
  border-left: transparent;
  border-right: transparent;
  padding-top: 1em;
  padding-bottom: 1em;
 
} 
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}













}