html,
body {
    width: 100%;
    height: 100%;

}

 .content {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  flex-direction: column;
    
 }
 
 .container-one{

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
   }



 .content-prim{
  text-align: center;



}




/* NavBar */
.my-navbar{
  background-color:rgb(46, 46, 46);
  height: 20em;
  font-family: 'Playfair Display SC', serif;
 
  
}

.navbar-brand{
  color: white;
  padding-left: 2em;
  font-family: 'Playfair Display SC', serif;
  padding-top: 3em;

}





/* Web */
@media only screen and (min-width:900px){

  .navbar-brand{
      /* padding-left: 29em; */
      padding-bottom: 1.5em;
  }

  .icons{
      list-style-type: none;
  }
    
  li {
      float: left;
      
    }

  .my-navbar{
      height: 9em;
  }  

  .navbar-brand h1{
      font-size: 4rem;
  }

  .nav-link{
    font-size: 1.5em;
    color: white ;
  }

  .description{
    padding-left: 5em;
  }


  .home{
    padding-top: 5em;
    padding-bottom: 3em;
  }

  .intro{
    padding-top: 3em;
    padding-left: 15em;
  }
  
  .text-intro{
    padding-bottom: 0.5em;
    font-size: 1.1em;
  }


  .home-cont{
    width: 80em;
    padding-left: 9em;
    transform: skewY(9deg);
}
 
.home{
  transform: skewY(9deg);
}

.content-prim{
    padding-top: 3em;
    background-color: rgba(0, 0, 0, 0.8);
    transform: skewY(-9deg);
    color: white;
    padding-bottom: 8em;
  } 
  
  
}

/* End web */

.text-intro{
  
  font-family: 'Playfair Display', serif;

}




/* Carousel */
 .my-carousel .carousel-item {
 height: 40em;

}








  .final{
    
    left: 0;
  bottom: 0;
  width: 100%;
    padding-top: 2rem;
    text-align: center;
    background-color: rgb(46, 46, 46);
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 0.8em;
     } 

 
.deratizare{
display: inline;
padding-left: 4em;
padding-right:4em ;


} 


#contact{ 
font-size: 1.5em;
color: white;

} 



 img:hover[type="tab"] {
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  
}

i {
  line-height: 10px;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  transition: all .1s;
  text-align: center;

}



@media only screen and (max-width:500px){

.insects{
  padding-left: 4em;
  padding-top: 2em;
  padding-bottom: 1em;
 }

 .home-title{
  text-align: center;
  padding-left: 2em;
}

.description{
  padding-left: 1.5em;
}

.intro{
 padding-left: 4em;
 font-size: 1.5em;
}

.home{
  padding-top: 5em;
  padding-bottom: 5em;
  transform: skewY(12deg);
  padding-right: 4em;
}

.home-cont{
  /* padding-left: 5em; */
  font-size: 1.2em;
  transform: skewY(12deg);
}

.content-prim{
 padding-top: 5em;
  background-color: rgba(0, 0, 0, 0.8);
  transform: skewY(-12deg);
  color: white;
  height: 80em;
  width: 30em;
} 





}

/* End telephone */



.home-title{
  font-family: 'Playfair Display SC', serif;
  
}


.N-S{
  color: red;
  font-size: 1.5em;
}



