@media only screen and (max-width:500px){

.content{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100em;
  width: 30em;
}

.container-one{
  width: 27em;
  height: 90em;
}

   /* NavBar */
  

    .my-navbar{
    height: 27em;
    width: 30em;
    }
    
    
    .nav-list {
    text-align: center;
   
    }
    .nav-link{
      color: white;
      font-size: 1.2em;
    }
    
  
    .my-navbar .nav-brand-one {

     font-size: 5rem;
     font-family: 'Playfair Display', serif;
    }
    .my-navbar .navbar-nav{ 
      padding-left: 6em;
    } 
 



    .nav-list-two {
      padding-left: 1rem;
     
      }


.final{
  left: 0;
  bottom: 0;
  width: 30em;
padding-top: 2rem;
text-align: center;
background-color: rgb(46, 46, 46);
color: white;
font-family: 'Playfair Display', serif;
 } 

 
.list-de{
  font-size: 1.2em;
}

.navbar-brand h1{
  font-size: 3rem;
  padding-top: 0.5em;
}



  }