html,
body {
    width: 100%;
    height: 100%;

}

.content {
  background-image: url(metode-pentru-a-scapa-de-gandacii-de-bucatarie.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50em;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container-one{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.8); /* Black w/opacity/see-through */
  height: 45em;
  border-radius: 2em;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  border: solid ;
  width: 80em;
}


 /* NavBar */
 .my-navbar{
  background-color:rgb(46, 46, 46);
  height: 20em;
  font-family: 'Playfair Display SC', serif;
 
  
}

.navbar-brand{
  color: white;
  padding-left: 2em;
  font-family: 'Playfair Display SC', serif;
  padding-top: 3em;

}





/* Web */
@media only screen and (min-width:900px){

  .navbar-brand{
      /* padding-left: 29em; */
      padding-bottom: 1.5em;
  }

  .icons{
      list-style-type: none;
  }
    
  li {
      float: left;
      
    }

  .my-navbar{
      height: 9em;
  }  

  .navbar-brand h1{
      font-size: 4rem;
  }

  .nav-link{
    font-size: 1.5em;
    color: white ;
  }
}

/* End web */


.icons{
  list-style-type: none;


  
}
  
  i {
    line-height: 10px;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    transition: all .1s;
    text-align: center;
  
  }

  
 

  .final{
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 2rem;
    text-align: center;
    background-color: rgb(46, 46, 46);
    color: white;
    font-family: 'Playfair Display', serif;
     } 

 



     .list-de{
      padding-top: 2em;
      color: white;
      font-family: 'Playfair Display', serif;
    }
  


#contact{
  color: white;
}

.list-title{ 
  padding-bottom: 4em;
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 2em;
}









